{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "src/@legacy",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "src/",
            "rootPathPrefix": "@/"
          }
        ]
      }
    ]
  ]
}
