.custom-border-table.ant-table-wrapper .ant-table {
  border: 1px solid #f0f0f0 !important;
  box-shadow: none;
}
.custom-border-table.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #fafafa !important;
  box-shadow: none !important;
}
.custom-border-table.ant-table-wrapper .ant-table-tbody > tr > td {
  border-right: 1px solid #f0f0f0 !important;
}
.custom-border-table.ant-table-wrapper .ant-table-container {
  border-right: 1px solid #f0f0f0;
  box-shadow: none;
}

/* Garantir que o dropdown do Select apareça por cima da tabela */
.ant-select-dropdown {
  z-index: 10000 !important;
}

/* Forçar dropdown para baixo quando possível */
.rc-virtual-list {
  z-index: 10001 !important;
}
