.tabela-abandono-custom {
  margin-bottom: 32px;
  width: 100%;
  max-width: 100%;
}

.tabela-abandono-custom-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.tabela-abandono-custom-title-center {
  text-align: center;
  width: 100%;
}

.tabela-abandono-custom-desc {
  font-size: 14px;
  color: #42474a;
  margin-bottom: 32px;
}

.tabela-abandono-custom .ant-table {
  border: 1px solid #d9d9d9;
  border-radius: 0 !important;
}

.tabela-abandono-custom .ant-table-container {
  border-radius: 0 !important;
}

.tabela-abandono-custom .ant-table-thead > tr > th,
.tabela-abandono-custom .ant-table-tbody > tr > td {
  padding: 4px 16px 4px 16px !important;
  text-align: center !important;
}

.tabela-abandono-custom .ant-table-thead > tr > th {
  background: #e7e6f8 !important;
}

.tabela-abandono-custom .ant-table-tbody > tr > td,
.tabela-abandono-custom .ant-table-thead > tr > th {
  border-color: #d9d9d9 !important;
}

.tabela-abandono-custom .ant-table-tbody > tr > td[colspan='3'] {
  background: #f6f5fa !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 14px;
  color: #333;
}

.tabela-abandono-custom-sem-dados {
  text-align: center;
  padding: 32px;
  font-size: 14px;
  color: #888;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.tabela-abandono-custom-full {
  margin-bottom: 32px;
  width: 100%;
  max-width: 100%;
}

.tabela-abandono-custom-modalidade-td {
  background: #f6f5fa !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #333;
}
