.tabela-notas-custom {
  margin-top: 16px;
  margin: 0 !important;
}

.tabela-notas-custom .ant-table {
  border: 1px solid #d9d9d9;
  border-radius: 0 !important;
}

.tabela-notas-custom .ant-table-container {
  border-radius: 0 !important;
}

.tabela-notas-custom .ant-table-thead > tr > th,
.tabela-notas-custom .ant-table-tbody > tr > td {
  padding: 4px 16px 4px 16px !important;
  text-align: center !important;
}

.tabela-notas-custom .ant-table-thead > tr > th {
  background: #e7e6f8 !important;
}

.tabela-notas-custom .ant-table-tbody > tr > td,
.tabela-notas-custom .ant-table-thead > tr > th {
  border-color: #d9d9d9 !important;
}

.tabela-notas-custom-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
  margin-top: 26px;
}

.tabela-notas-custom-desc {
  font-size: 14px;
  color: #42474a;
  padding: 0px 10px 0px 0px;
}

.tabela-notas-custom .ant-table-tbody > tr > td[colspan='2'] {
  background: #f6f5fa !important;
  text-align: center !important;
  font-weight: bold !important;
  font-size: 16px;
  color: #333;
}

.mini-resumo-notas {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 12px;
  background: #fafaff;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
  min-width: 180px;
}

.tabela-notas-custom-modalidade {
  font-weight: bold;
  text-align: center;
  display: block;
}

.tabela-notas-custom-modalidade-td {
  background: #f6f5fa !important;
  text-align: center !important;
  font-weight: bold !important;
}

.line-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 8px;
}

.tabela-notas-ano {
  background-color: #f6f5f8;
}

.linha-modalidade > td {
  background-color: #f6f5f8 !important;
}
