.tabela-idep-detalhes .ant-table-thead > tr > th {
  background: #f5f6fa;
  font-weight: 600;
  color: #444;
  text-align: center;
}
.tabela-idep-detalhes .ant-table-tbody > tr > td {
  text-align: center;
}
.tabela-idep-detalhes .boletim-icone {
  color: #3b82f6;
  font-size: 18px;
  cursor: pointer;
}
.tabela-idep-detalhes .cabecalho-idep {
  font-size: 13px;
  color: #555;
  margin-bottom: 8px;
  margin-top: 8px;
}

.coluna-anos-iniciais-finais {
  background-color: #F6F5F8 !important;
  font-weight: 500;
}
