.tabela-frequencia-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  gap: 16px;
}

.tabela-frequencia-select {
  width: 323px;
  max-width: 323px;
}

.tabela-frequencia-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
}

.tabela-frequencia-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: block;
  color: #42474a;
  margin: 0;
}
